@model UrunYonetimiModel

@{
    ViewData["Title"] = "Menü Sistemi";
}

<h1>@Model.Category.CategoryName Ürünleri Yönetimi</h1>

<table class="table table-striped" style="border:solid">
    <thead>
        <tr style="background-color:darkgray">
            <th>Adı</th>
            <th>Detay</th>
            <th>Fiyat</th>
            <th>Görsel</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var menu in Model.Menus)
        {
            <tr>
                <td><b>@menu.MenuName</b></td>
                <td>@menu.Details</td>
                <td>@menu.Price TL</td>
                <td>
                    <a href="~/uploads/@menu.ImageUrl">
                        <img src="~/uploads/@menu.ImageUrl" width="24" class="img-thumbnail" />
                    </a>
                </td>
                <td>
                    <a class="text-primary" asp-controller="Menu" asp-action="Edit" asp-route-id="@menu.MenuId">güncelle</a>/
                    <a class="text-primary" asp-controller="Menu" asp-action="Delete" asp-route-id="@menu.MenuId">sil</a>
            </tr>

        }
    </tbody>
</table>


